.CurrencyList {
    justify-content: center;
    margin: auto;
    width: 75%;
}
.CurrencyList > .headers {
    display: flex;
    height: 50px;
    padding: 0 20px;
    font-size: 0.9em;
    background-color: lightgray;
}
.CurrencyList > .headers > div {
    flex: 1;
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
    padding-top: 1rem;
}
.CurrencyList > .list {
    height: 570px;
    overflow-y: auto;
    font-size: 0.8rem;
}
.CurrencyList > *:last-child {
    -webkit-box-shadow: 0px 13px 25px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 25px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 25px -9px rgba(0,0,0,0.75);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.CurrencyRow {
    margin: 2px 0;
    padding: 0 20px;
    border-bottom: 1px solid lightgrey;
}

.CurrencyRow > a {
    display: flex;
	 flex: 1;
	 height: 60px;
     align-items: center;
     text-decoration: none;
     color: black;
}
.CurrencyRow .row > div {
    display: flex;
    flex: 1;
    height: 60px;
    align-items: center;
}
